@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
}

$primary: #a0c52a;
$secondary: #597e2e;
$tertiary: #faf8f5;

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.tertiary {
  background-color: $tertiary;
}
.trex {
  color: scale-color($secondary, $lightness: -3%);
}
.err {
  color: scale-color($secondary, $lightness: -3%);
}
.hwe {
  height: 20rem;

  @media screen {
  }
}

.two-col {
  height: 30rem;
  @media (min-width: 375px) and (max-width: 414px) {
    height: 14rem;
  }
}

.image1 {
  height: 100%;
  object-fit: cover;
  width: 100%;
  //background-color: red;
}

.imgc {
  height: 30rem;
  width: 50%;
  @media (min-width: 375px) and (max-width: 414px) {
    height: 10%;
    width: 20%;
  }
}

.pic-div {
  width: 20rem;
  //background-color: aqua;
  height: 15rem;
}

// display div
.dis-div {
  width: calc(50px + 22%);
  background-color: $tertiary;
  .dis-div1 {
    width: 20rem;
    height: 10rem;
    background-color: $tertiary;
    p {
      font-size: 13px;
    }
  }
  @media (min-width: 375px) and (max-width: 414px) {
    width: 90%;
    .dis-div1 {
      width: fit-content;
    }
  }

  @media (min-width: 667px) and (max-width: 768px) {
    width: 30%;
    object-fit: contain;
    .dis-div1 {
      width: 10rem;
      font-size: 11px;
    }
    .pic-div {
      width: 7rem;
      height: 9rem;
      .img {
        width: 10rem;
        margin-left: 0px !important;
      }
    }
  }

  @media (min-width: 800px) and (max-width: 1025px) {
    .dis-div1 {
      margin-top: 10px;
      width: 15rem;
      font-size: 15px;
    }
    .pic-div {
      width: 7rem;
      height: 9rem;
      .img {
        margin-top: 0% !important;
        width: calc(13rem + 4px);
        margin-left: 0px !important;
      }
    }
  }
}

.footer-container {
  background-color: $secondary;
  .foot {
    height: fit-content;
    .bi-envelope-at-fill,
    .bi-telephone-inbound,
    .bi-facebook,
    .bi-instagram,
    .bi-geo-alt-fill {
      font-size: 16px;
      //color: red;
    }
    p {
      font-size: 14px;
    }
  }
}

///description
.describe {
  width: 25%;
  height: calc(20rem + 30px);
  background-repeat: no-repeat;
  background-position: right top;
  //background-color: aquamarine;
  background-size: 100% 100%;

  button {
    color: $secondary;
    font-size: 22px;
  }

  @media (min-width: 375px) and (max-width: 414px) {
    margin-left: 20px;
    width: 90%;
  }

  @media (min-width: 667px) and (max-width: 768px) {
    width: 50%;
    margin-left: 30px;
  }

  @media (min-width: 800px) and (max-width: 1025px) {
    width: 35%;
    margin-left: 30px;
  }
}

//Carousel

.carousel-height {
  height: 65vh;
  .item {
    height: 60vh;
    background-color: $tertiary;
    .hero {
      margin: 70px 0px 0px 11rem;
      strong {
        color: $secondary;
      }
    }
  }

  @media (min-width: 375px) and (max-width: 414px) {
    //width: 50%;
    height: 35vh;
    .item {
      //background-color: aqua;
      height: 35vh;
      .hero {
        margin: 0px 0px 0px 9px;
        strong {
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 667px) and (max-width: 768px) {
    .item {
      height: 60vh;
      .hero {
        margin: 30px 0px 0px 80px;
        strong {
          font-size: 20px;
        }
      }
    }
  }
}

// Container
.cont {
  background-color: darken($tertiary, 3%);
  @media (min-width: 375px) and (max-width: 414px) {
    height: 120rem;
  }

  @media (min-width: 667px) and (max-width: 768px) {
    height: 110rem;
  }
}

//Reliance
.rel-row {
  height: 60vh;
  margin-bottom: 300px;
  p {
    color: scale-color($secondary, $lightness: -60%);
  }
  .col {
    //background-color: $secondary;
    font-size: 14px;

    h5 {
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }

  .div2 {
    background-image: url(./images/hen117.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: 375px) and (max-width: 414px) {
    height: 40vh;
    margin-bottom: 20rem;

    .col {
      font-size: 10px;
    }
  }

  @media (min-width: 667px) and (max-width: 768px) {
    height: 30vh;
  }
}

.contact {
  @media (min-width: 375px) and (max-width: 414px) {
    width: 90% !important;
  }
}

.bi-exclamation-triangle {
  font-size: 30px;
  color: rgb(163, 90, 90);
  animation: triangle 5s infinite;
}

@keyframes triangle {
  0% {
    color: rgb(163, 90, 90);
  }
  20% {
    color: red;
  }
  40% {
    color: chartreuse;
  }
  60% {
    color: rgb(8, 110, 206);
  }
  80% {
    color: gold;
  }
  100% {
    color: rgb(2, 107, 2);
  }
}
